<div class="row">
	<div class="table-responsive col-md-8">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Montant/Loyer</td>
					<td>Signe le</td>
					<td>Acheteur/Bailleur</td>
					<td>Biens</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="con in listeContratsView">
					<td>{{con.id}}</td>
					<td>{{con.prixEffectif}}</td>
					<td>{{con.dateAchat | date : 'dd/MM/yyyy'}}</td>
					<td>{{con.client.nom}}</td>
					<td>{{con.bienALouer.classeStandard.code}}{{con.bienAAcheter.classeStandard.code}}
						#{{con.bienALouer.id}}{{con.bienAAcheter.id}}</td>
					<td><a href="#/updateContrat/{{con.id}}">Modifier</a> | <a
						ng-click="delContrat(con.id)">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
		<span>Chiffre du mois : {{chiffreAffaire |
			currency:'&euro;':2}} </span>
	</div>
</div>