<div class="row">
	<div class="table-responsive col-md-8">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Statut</td>
					<td>Soumis le</td>
					<td>Disponible le</td>
					<td>Revenu Cadastral</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bi in biLocation" ng-click="getDetail(bi.id)">
					<td>{{bi.id}}</td>
					<td>{{bi.statut}}</td>
					<td>{{bi.dateSoumission | date : 'dd/MM/yyyy'}}</td>
					<td>{{bi.dateDispo | date : 'dd/MM/yyyy'}}</td>
					<td>{{bi.revenuCadastral | currency:'&euro;':2}}</td>
					<td><a href="#/updateBienALouer/{{bi.id}}">Modifier</a> | <a
						ng-click="delBI(bi.id)">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<table>
			<tr height="300px;">
				<td class="col-md-2">
					<dl>
						<dt>Caution</dt>
						<dd>{{bienImmo.caution}}</dd>
						<dt>Loyer</dt>
						<dd>{{bienImmo.loyer}}</dd>
						<dt>Charges</dt>
						<dd>{{bienImmo.charges}}</dd>
						<dt>Type de Bail</dt>
						<dd>{{bienImmo.typeBail}}</dd>
						<dt>Garniture</dt>
						<dd>{{bienImmo.garniture}}</dd>
					</dl>
					<address>
						<strong style="text-decoration: underline;">Adresse</strong><br>{{bienImmo.adresse.rue}}<br>
						{{bienImmo.adresse.codePostal}} {{bienImmo.adresse.ville}}
					</address>
				</td>
				<td class="col-md-2">
					<dl>
						<dt style="text-decoration: underline;">Classe Standard</dt>
						<dd></dd>
						<dt>Code</dt>
						<dd>{{bienImmo.classeStandard.code}}</dd>
						<dt>Type</dt>
						<dd>{{bienImmo.classeStandard.typeOffre}}</dd>
						<dt>Prix Max</dt>
						<dd>{{bienImmo.classeStandard.prixMax}}</dd>
						<dt>Superficie Min</dt>
						<dd>{{bienImmo.classeStandard.superficieMin}}</dd>
						<dt>Type de bien</dt>
						<dd>{{bienImmo.classeStandard.typeBien}}</dd>
					</dl>
				</td>
			</tr>
			<tr>
				<td class="col-md-2">
					<dl>
						<dt style="text-decoration: underline;">Propri&eacute;taire</dt>
						<dd></dd>
						<dt>Nom</dt>
						<dd>{{bienImmo.proprietaire.nom}}</dd>
						<dt>Adresse</dt>
						<dd>
							<address>
								{{bienImmo.proprietaire.adresse.rue}}<br>
								{{bienImmo.proprietaire.adresse.codePostal}}
								{{bienImmo.proprietaire.adresse.ville}}<br> <abbr
									title="T&eacute;l&eacute;phone Priv&eacute;">Tel.
									Priv&eacute; :</abbr> {{bienImmo.proprietaire.tel_prive}}<br> <abbr
									title="T&eacute;l&eacute;phone Professionel">Tel. Pro :</abbr>
								{{bienImmo.proprietaire.tel_travail}}
							</address>
						</dd>
					</dl>
				</td>
				<td class="col-md-2">
					<dl>
						<dt style="text-decoration: underline;">Contrat</dt>
						<dd></dd>
						<dt>Prix</dt>
						<dd>{{bienImmo.contrat.prixEffectif}}</dd>
						<dt>Date</dt>
						<dd>{{bienImmo.contrat.dateAchat | date : 'dd/MM/yyyy'}}</dd>
						<dt style="text-decoration: underline;">Client</dt>
						<dd>
							<dl>
								<dt>Nom</dt>
								<dd>{{bienImmo.contrat.client.nom}}</dd>
								<dt>T&eacute;l&eacute;phone</dt>
								<dd>{{bienImmo.contrat.client.telephone}}</dd>
								<dt>Adresse</dt>
								<dd>
									<address>
										{{bienImmo.contrat.client.adresse.rue}}<br>
										{{bienImmo.contrat.client.adresse.codePostal}}
										{{bienImmo.contrat.client.adresse.ville}}
									</address>
								</dd>
							</dl>
						</dd>
					</dl>
				</td>
			</tr>
		</table>
	</div>
</div>