<div>
	<form class="form-horizontal">
		<table>
			<tr>
				<td class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-6 control-label" for="statut_bi">Statut</label>
						<div class="col-sm-6">
							<select ng-model="bienImmo.statut" id="statut_bi"
								class="form-control">
								<option value="disponible">Disponible</option>
								<option value="loue">Lou&eacute;</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="dispo_bi">Disponible
							le</label>
						<div class="col-sm-6">
							<input type="date" class="form-control" id="dispo_bi"
								placeholder="Disponible le" ng-model="bienImmo.dateDispo">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="revenuCadastr_bi">Revenu
							cadastral (&euro;)</label>
						<div class="col-sm-6">
							<input type="number" class="form-control" id="revenuCadastr_bi"
								placeholder="ID du Bien Immobilier"
								ng-model="bienImmo.revenuCadastral">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="prix_bi">Loyer (&euro;)</label>
						<div class="col-sm-6">
							<input type="number" class="form-control" id="loyer_bi"
								placeholder="Loyer" ng-model="bienImmo.loyer">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="charges_bi">Charges (&euro;)</label>
						<div class="col-sm-6">
							<input type="number" class="form-control" id="charges_bi"
								placeholder="Charges" ng-model="bienImmo.charges">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="caution_bi">Caution (&euro;)</label>
						<div class="col-sm-6">
							<input type="number" class="form-control" id="caution_bi"
								placeholder="Caution" ng-model="bienImmo.caution">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="typeBail_bi">Type de bail</label>
						<div class="col-sm-6">
							<select ng-model="bienImmo.typeBail" id="typeBail_bi"
								class="form-control">
								<option value="Bail 1">Bail 1</option>
								<option value="Bail 2">Bail 2</option>
								<option value="Bail 3">Bail 3</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="cs_bi">Classe
							standard</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="classStandSelectId"
								id="cs_bi" ng-click="getCS(classStand.id)">
								<option value="{{classStand.id}}" ng-selected="csselected[{{classStand.id}}]"
									ng-repeat="classStand in listeCS">{{classStand.typeOffre}}
									| {{classStand.code}}</option>
							</select>
						</div>
					</div>

				</td>
				<td class="col-sm-4">
					<div class="form-group">
						<div style="text-align: center;">
							<h4>Adresse</h4>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="rue_bi">Rue</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="rue_bi"
									placeholder="Rue" ng-model="bienImmo.adresse.rue">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="cp_bi">Code
								Postal</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" id="cp_bi"
									placeholder="Code Postal"
									ng-model="bienImmo.adresse.codePostal">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="ville_bi">Ville</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="ville_bi"
									placeholder="Ville" ng-model="bienImmo.adresse.ville">
							</div>
						</div>
					</div>
				</td>
				<td class="col-sm-4">
					<div class="form-group">
						<div style="text-align: center;">
							<h4>Contrat</h4>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="prixEff_bi">Prix
								Effectif</label>
							<div class="col-sm-6">
								<input type="number" class="form-control" id="prixEff_bi"
									placeholder="Prix Effectif"
									ng-model="bienImmo.contrat.prixEffectif">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="dateAchat_bi">Date
								d'achat</label>
							<div class="col-sm-6">
								<input type="date" class="form-control" id="dateAchat_bi"
									placeholder="Date Achat" ng-model="bienImmo.contrat.dateAchat">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label" for="client_bi">Client</label>
							<div class="col-sm-6">
								<select class="form-control" ng-model="clientSelectId"
									id="client_bi" ng-click="getClient(clientBi.id)">
									<option value="{{clientBi.id}}" ng-selected="clselected[{{clientBi.id}}]"
										ng-repeat="clientBi in listeClient">{{clientBi.nom}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-6 control-label" for="prop_bi">Proprietaire</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="propSelectId" id="prop_bi"
								ng-click="getProp(propBi.id)">
								<option value="{{propBi.id}}" ng-repeat="propBi in listeProp" ng-selected="propselected[{{propBi.id}}]">{{propBi.nom}}</option>
							</select>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-default" ng-click="addBI()">Ajouter</button>
				</td>
			</tr>
		</table>
	</form>
</div>
