<div>
	<form class="form-horizontal">
		<table>
			<tr>
				<td class="col-sm-4">

					<div class="form-group">
						<label class="col-sm-6 control-label" for="CSID">Catégorie de Biens</label>
						<div class="col-sm-6">
							<select class="form-control" ng-model="classeStandardSelected"
								id="CSID" ng-click="bienByCS(cs)">
								<option value="{{cs}}" ng-repeat="cs in listeCS">{{cs.code}} 
								prixMax: {{cs.prixMax}} superficieMin: {{cs.superficieMin}}</option>
							</select>
						</div>
					</div>
			</tr>
		</table>
	</form>
</div>

<div class="row">
	<div class="table-responsive col-md-8">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Statut</td>
					<td>Soumis le</td>
					<td>Disponible le</td>
					<td>Revenu Cadastral</td>
					<td>Prix</td>
					<td>Etat</td>
					<td>Adresse</td>
					<td>Proprietaire</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ba in listeBAA">
					<td>{{ba.id}}</td>
					<td>{{ba.statut}}</td>
					<td>{{ba.dateSoumission | date : 'dd/MM/yyyy'}}</td>
					<td>{{ba.dateDispo | date : 'dd/MM/yyyy'}}</td>
					<td>{{ba.revenuCadastral | currency:'&euro;':2}}</td>
					<td>{{ba.prixAchat | currency:'&euro;':2}}</td>
					<td>{{ba.etat}}</td>
					<td>{{ba.adresse.rue}}, {{ba.adresse.codePostal}}, {{ba.adresse.ville}}</td>
					<td>{{ba.proprietaire.nom}}</td>
					<td><a href="#/updateBienAAcheter/{{ba.id}}">Modifier</a> | <a
						ng-click="delBA(ba.id)">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="table-responsive col-md-8">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<td>#</td>
					<td>Statut</td>
					<td>Soumis le</td>
					<td>Disponible le</td>
					<td>Revenu Cadastral</td>
					<td>Loyer</td>
					<td>Caution</td>
					<td>Charges</td>
					<td>Type de bail</td>
					<td>Garniture</td>
					<td>Adresse</td>
					<td>Proprietaire</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bl in listeBAL">
					<td>{{bl.id}}</td>
					<td>{{bl.statut}}</td>
					<td>{{bl.dateSoumission | date : 'dd/MM/yyyy'}}</td>
					<td>{{bl.dateDispo | date : 'dd/MM/yyyy'}}</td>
					<td>{{bl.revenuCadastral | currency:'&euro;':2}}</td>
					<td>{{bl.loyer | currency:'&euro;':2}}</td>
					<td>{{bl.caution | currency:'&euro;':2}}</td>
					<td>{{bl.charges | currency:'&euro;':2}}</td>
					<td>{{bl.typeBail}}</td>
					<td>{{bl.garniture}}</td>
					<td>{{bl.adresse.rue}}, {{bl.adresse.codePostal}}, {{bl.adresse.ville}}</td>
					<td>{{bl.proprietaire.nom}}</td>
					<td><a href="#/updateBienALouer/{{bl.id}}">Modifier</a> | <a
						ng-click="delBL(bl.id)">Supprimer</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>