<div class="row" style="text-align: center;">
	<form class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="id_bi">ID du Bien Immobilier</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Statut</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Disponible le</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Revenu cadastral</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Prix achat</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Etat</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Classe standard</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Adresse</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Contrat</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
		<div class="form-group">
			<label class="sr-only" for="id_bi">Propriétaire</label> <input
				type="number" class="form-control" id="id_bi"
				placeholder="ID du Bien Immobilier" ng-model="id_bi">
		</div>
	
		<button class="btn btn-default" ng-click="getBI()">Rechercher</button>
	</form>
</div>
