<div class="row" style="text-align: center;">
	<form class="form-inline">
		
	
		<div class="form-group">
			<label class="sr-only" for="cs_bi">Bien a acheter</label>
			<select
				ng-model="bASelectId"  id="cs_bi" ng-click="getBA(classStand.id)">
				<option value="{{classStand.id}}" ng-repeat="classStand in bienImmoA">{{classStand.typeOffre}}
					| {{classStand.code}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="sr-only" for="cs_bi">Bien a louer</label>
			<select
				ng-model="bLSelectId"  id="cs_bi" ng-click="getBL(classStand.id)">
				<option value="{{classStand.id}}" ng-repeat="classStand in bienImmoL">{{classStand.typeOffre}}
					| {{classStand.code}}</option>
			</select>
		</div>
		
		<div class="table-responsive">
		<h2>liste clients</h2>
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Nom</th>
				<th style="text-align: center">Telephone</th>
			</tr>
		</thead>
		<tbody ng-repeat="client in classeStandard">
			<tr>
				<td>{{client.nom}}</td>
				<td>{{client.telephone}}</td>
			</tr>
		</tbody>
	</table>
</div>
		
	</form>
</div>
