<div class="row" style="text-align: center;">
	<form class="form-inline">
		
	
		<div class="form-group">
			<label class="sr-only" for="cs_bi">Classe standard</label>
			<select
				ng-model="classStandSelectId" id="cs_bi" ng-click="getCS(classStand.id)">
				<option value="{{classStand.id}}" ng-repeat="classStand in listeCS">{{classStand.typeOffre}}
					| {{classStand.code}}</option>
			</select>
		</div>
		

		<button class="btn btn-default" ng-click="addBI()">Afficher les clients par classe standard</button>
		
		<div class="table-responsive">
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Nom</th>
				<th style="text-align: center">Telephone</th>
			</tr>
		</thead>
		<tbody ng-repeat="client in clients">
			<tr>
				<td>{{client.nom}}</td>
				<td>{{client.telephone}}</td>
			</tr>
		</tbody>
	</table>
</div>
		
	</form>
</div>
