<div class="row" style="text-align: center;">
	<form class="form-inline">
		
	
		<div class="form-group">
			<label class="sr-only" for="cs_bi">Bien a acheter</label>
			<select
				ng-model="bASelectId"  id="cs_bi" ng-click="getBA(bl.classeStandard.id)">
				<option value="{{ba.classeStandard.id}}" ng-repeat="ba in bienAchat">{{ba.statut}}
					| {{ba.etat}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="sr-only" for="cs_bi">Bien a louer</label>
			<select
				ng-model="bLSelectId"  id="cs_bi" ng-click="getBL(bl.classeStandard.id)">
				<option value="{{bl.classeStandard.id}}" ng-repeat="bl in bienLocation">{{bl.statut}}
					| {{bl.code}}</option>
			</select>
		</div>
		
		<div class="table-responsive">
		<h2>liste clients</h2>
	<table class="table table-bordered" style="text-align: center">
		<thead>
			<tr>
				<th style="text-align: center">Nom</th>
				<th style="text-align: center">Telephone</th>
			</tr>
		</thead>
		<tbody ng-repeat="client in clients">
			<tr>
				<td>{{client.nom}}</td>
				<td>{{client.telephone}}</td>
			</tr>
		</tbody>
	</table>
</div>
		
	</form>
</div>
