<h1>Ajout d'une Visite</h1>

<form class="form-horizontal">
	<div class="form-group">
	<div class="col-sm-6">
			<label for="Date" class="col-sm-2 control-label">Date</label> <input
				type="datetime-local" class="form-control" id="Date" placeholder="Date"
				ng-model="visiteForm.date">
		</div>
    </div>

	<div class="form-group">
		<div class="col-sm-6">
			<label for="Client" class="col-sm-2 control-label">Client</label>
			<select class="form-control" ng-model="clientSelectId"  id="idclient" ng-click="getClient(client.id)">
				<option value="{{client.id}}" ng-repeat="client in listeClient" >{{client.nom}}
					| {{client.telephone}}</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6">
			<label for="bienAAcheter" class="col-sm-2 control-label">Bien
				a acheter</label> <select class="form-control"
				ng-model="bienAAcheterSelectedId"  id="cs_bi" ng-click="getProp(bienAA.id)">
				<option value="{{bienAA.id}}" ng-repeat="bienAA in listebienAA">{{bienAA.id}}
					</option>
			</select>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-sm-6">
			<label for="bienALouer" class="col-sm-2 control-label">bien A
				Louer</label> <select class="form-control"
				ng-model="bienALouerSelectedId"  id="cs_bi" ng-click="getBienALouer(bienAL.id)">
				<option value="{{bienAL.id}}" ng-repeat="bienAL in listebienAL">{{bienAL.id}}
				</option>
			</select>
		</div>
	</div>
	<div class="col-sm-2">
	{{visiteForm}}
		<button ng-click="ajouter()" class="btn btn-default">Ajouter</button>
	</div>
</form>
